* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: "objektiv-mk1";
  font-weight: 700;
  width: 100%;
}

@font-face {
  font-family: ff-cocon-pro;
  src: url("https://use.typekit.net/ffj1qgx.css");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "objektiv-mk1";
  src: url("https://use.typekit.net/ffj1qgx.css");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "objektiv-mk1";
  src: url("https://use.typekit.net/ffj1qgx.css");
  font-weight: 700;
  font-style: normal;
}
/*navbar*/

nav {
  position: sticky;
  top: 0;
  z-index: 99;
  width: 100%;
  border-style: 1px solid black;
  font-size: 25px;
  text-align: left;
  background-color: rgb(252, 195, 1);
}

nav ul {
  float: none;
  padding: 0% 10%;
  background-color: rgb(252, 195, 1);
  text-align: center;
}

nav a {
  font-family: "objektiv-mk1";
  font-weight: 700;
}

li {
  padding: 0% 10%;
  display: inline;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
}

/* produktnavn */

.leaf {
  /* background: purple; */
  background: rgb(230, 230, 229);
  position: relative;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-family: ff-cocon-pro;
  font-weight: 700;
  font-size: 150px;
  text-align: center;
  padding: 18% 0%;
}

/*animation-leaf-group*/
.animation-leaf-group {
  position: absolute;
  animation-duration: 2s;
  animation-name: leaf-animation;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

/*leaf-1*/
#leaf-1 {
  left: -10%;
  top: 30%;
}

#leaf-1:hover {
  animation-play-state: running;
}

/*leaf-2*/
#leaf-2 {
  left: 22%;
  top: -5%;
}

#leaf-2:hover {
  animation-play-state: running;
}

/*leaf-3*/

#leaf-3 {
  left: 30%;
  top: 29%;
}

#leaf-3:hover {
  animation-play-state: running;
}

/*leaf-4*/

#leaf-4 {
  left: 60%;
  top: 0%;
}

#leaf-4:hover {
  animation-play-state: running;
}
@keyframes leaf-animation {
  to {
    position: absolute;
    left: 200%;
    top: -100%;
  }
}

/*section 1*/

.section-1 {
  /* background: red; */
  background: rgb(230, 230, 229);
  color: black;
  font-family: "objektiv-mk1";
  position: relative;
  width: 100vw;
  padding: 10%;
  padding-bottom: 5%;
}

.section-1 h2 {
  border-radius: 25px;
  background: rgb(252, 195, 1);
  font-size: 40px;
  font-weight: 700;
  width: 35%;
  text-align: center;
}

.section-1 div p {
  line-height: 1.5;
  /* background: rgb(1, 175, 252); */
  margin-top: 5%;
  text-align: left;
}

#start p {
  font-size: 40px;
}

#text p {
  font-size: 25px;
  padding: 10% 5%;
}

#text img {
  float: right;
  height: 500px;
  width: 400px;
}

#quest {
  padding-left: 5%;
}
#quest p {
  /* text-align: center; */
  font-size: 25px;
}

#quest p:nth-child(2) {
  margin-left: 5%;
}
#quest p:nth-child(3) {
  margin-left: 10%;
}

#quest span {
  margin-left: 5%;
}

#go p {
  padding: 5%;
  text-align: center;
  font-size: 60px;
}

/* section 2 */

.section-2 {
  background: rgb(230, 230, 229);
  padding: 10%;
  position: relative;
}

.section-2 h2 {
  border-radius: 25px;
  background: rgb(252, 195, 1);
  font-family: "objektiv-mk1";
  font-size: 40px;
  font-weight: 700;
  width: 35%;
  text-align: center;
}

.section-2 img {
  font-family: ff-cocon-pro;
  /* background: rgb(252, 195, 1); */
  /* border: 5px groove rgb(252, 195, 1); */
  margin: 15% 10%;
  width: 80%;
  height: 90%;
}
